exclude *.txt
exclude MANIFEST.in .travis.yml .gitignore
include CHANGES.txt CREDITS.txt LICENSE.txt README.rst
recursive-include tests *.py *.txt
recursive-include shapely/examples *.py
recursive-include shapely/speedups *.pyx
recursive-include shapely/vectorized *.pyx
include shapely/_geos.pxi
# include docs/*.rst
